.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.default.json
!.vscode/tasks.json

.claude/*.local.json

.luarc.json

*.code-workspace
*.zip

/luarocks
/lua
/lua_modules
/.luarocks

__pycache__/
*.py[codz]
*$py.class
*.so
/.conda
/.venv
/.ruff_cache

/tasks/check-updates/.downloaded
