# Set the default behavior to automatically detect text files and perform LF normalization
* text=auto
# Git LFS for PNG files
*.png filter=lfs diff=lfs merge=lfs -text
*.blend binary export-ignore
# files that should not get included in a release zip
.* export-ignore
*.rockspec export-ignore
docs export-ignore
Makefile export-ignore
README.md export-ignore
spec export-ignore
tasks export-ignore
pyproject.toml export-ignore
uv.lock export-ignore
